/*TITRE 1*/
h1 {
  color:black;
  background-color: yellow;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/*TITRE 2*/
h2 {
  color: gold;
  background-color:  ;
  text-align: center;
  border: solid;
}

/*Disposition générale du Body*/
body{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: darkslategray;
  background-image: url(images/fond_ecran.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right top ;
  background-size: cover;
}


/*Date*/
p.date {
  font-family:'Times New Roman', serif;
  font-size: large;
  line-height: 100%;
  color:blue;
  text-align: left
  }

/*Style des Paragraphes*/
p{
  font-family:'Times New Roman', serif;
  font-size: large;
  line-height: 150%;
  color: wheat;
  text-align: center;
}

/*Citations*/
.citations {
 display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 400px;
  margin-bottom: 80px;
  border: 3px solid brown;
  font-family:'Times New Roman', serif;
  font-size: 160%;
  font-style: italic;
  line-height: 150%;
  color:brown;
  background-color: lightgray ;
  padding: 30px;
  }

  /*Citations Villageois*/
.citations_villageois {
  display: block;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 80px;
   margin-bottom: 80px;
   border: 3px solid brown;
   border-left: 6px solid green;
   font-family:'Times New Roman', serif;
   font-size: 160%;
   font-style: italic;
   line-height: 150%;
   color:brown;
   background-color: lightgray ;
   padding: 30px;
   }

     /*Citations Fermier*/
.citations_fermier {
  display: block;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 80px;
   margin-bottom: 80px;
   border: 3px solid brown;
   border-left: 6px solid red;
   font-family:'Times New Roman', serif;
   font-size: 160%;
   font-style: italic;
   line-height: 150%;
   color:brown;
   background-color: lightgray ;
   padding: 30px;
   }


/*LISTE*/
.liste{
  font-family:'Times New Roman', serif;
  font-size: large;
  line-height: 150%;
  color:wheat;
  text-align: center;
list-style-position: inside;
}

.up {
  background-image: url(images/up.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position:  ;
}

.down {
  background-image: url(images/down.png);
}

.chat {
  background-image: url(images/chat.png);
}

/*TABLEUR 1*/
.tableur1 {
  font-family:'Times New Roman', serif;
  font-size: large;
  line-height: 150%;
  color: wheat;
  text-align: center;
}

tr:nth-child(even) {
  background: grey;
}

/*IMAGE*/
.image_medium{
  display: block;
  margin-left: 20px;
  margin-right: 30px;
  max-width: 35%;
  height: auto;
  float: left ;
  }

  .image_mars{
    display: block;
    margin-top: 10px;
    margin-left: 30;
    margin-right: 20px;
    max-width: 35%;
    height: auto;
    float: right;
  }

  .image_fermier{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
      }

/*Légende*/
.legende{
text-align: center;
color: wheat;
}

/*Style des Liens*/
a:hover {
  background-color: gold;
}

a:visited {
  color: red;
}

/*BAS DE PAGE*/
.bas_de_page{
  font-family:'Times New Roman', serif;
  font-size: large;
  line-height: 150%;
  color: wheat;
  text-align: left;
}

.mal {
  color: red;
}
.bien {
  color: green;
}